@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
    font-family: 'Open Sans', sans-serif;
    background: #f5f5f5;
}

nav {
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 2px 2px;
}

main {
    padding: 0 0 144px 0;
}

.navbar-brand {
    font-weight: 700;
}

.buildinglist {
    margin-top: 32px;
    margin-bottom: 16px;
}

.card-area {
    padding: 0 16px 0 16px;
}

.card {
    padding: 0;
    margin: 8px 0 8px 0;
}

a.card-body {
    display: inline-block;
    height: 96px;
    background: #1976D2;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px;
    text-decoration-line: none;
}

.card-body:hover {
    background: #fff;
    box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.2);
}

.card-body:hover > .card-title {
    color: #1976D2;
}

.card-title {
    display: inline-block;
    font-size: 32px;
    color: #fff;
}


.add-button {
    display: inline-block;
    position: fixed;
    right: 64px;
    bottom: 36px;
    background-color: #FF9100;
    width: 72px;
    height: 72px;
    border-radius: 36px;
    line-height: 72px;
    text-align: center;
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
    font-size: 48px;
    color: #fff;
    text-decoration-line: none;
}

.add-button:hover {
    background-color: #fff;
    color: #FF9100;
    box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.4);
    text-decoration-line: none;
}
